.loop-title {
  font-weight: 800;
}
ul.loop-details {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  li {
    font-weight: 200;
    float: left;
    padding: 0 1.5em 0 0;
  }
}

.loop-description {
  display: block;
  padding-top: 1em;
}

ul.loop-status {
  margin-top: $line-height-computed + 15px;
  list-style-type: none;
  text-align: center;
  li {
    $span-width: 150px;
    $margin: -($span-width);
    span {
      padding: 0 0 0 5px;
      display: inline-block;
      width: $span-width;
      margin: 0 $margin 0 0;
      text-align: left;
    }

    span:first-of-type {
      padding: 0;
      font-weight: 600;
      margin: 0 0 0 $margin;
      text-align: right
    }
  }
}

div {
  .loop-header {
    padding-bottom: 1em;
  }
  .loop-buttons {
    padding-bottom: 1em;
  }
}

.loop-note {
  padding: 1em 2em 2em 3em !important;

  p {
    padding: 0;
    margin: 0;
  }
}