span.project-loop-status {
  margin-bottom: 1em;
  font-weight: 600;
}

ul.project-loops {
  list-style-type: none;
  margin: 0 0 1em 0;
  padding: 0;
  overflow: hidden;
  li {
    font-weight: 300;
  }
}

ul.project-loops:last-child {
  margin: 0;
}
